# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes

*.exe
*.test
*.prof

# osx
.DS_Store

#vim
*.swp
.vscode/
.idea/

# app
gobuild
